.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  background-image: linear-gradient(
    to right,
    #e53935 0%,
    #e53935 100%
  ) !important;
  color: #fff !important;
  background: #2979FF;
  padding: 18px;
  display: inline-block;
  border: none;
  width: 20%;
  font-size: 25px;
  border-radius: 0px;
  cursor:pointer;
  transition: all 0.5ms;
}

.sendButton:hover {
  opacity: 0.9;
}
