.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
  margin: 1%;

}

.input {
  border: none;
  border-radius: 0;
  padding: 2%;
  width: 85%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  background-image: linear-gradient(
    to right,
    #e53935 0%,
    #e53935 100%
  ) !important;
  color: #fff !important;
  padding: 15px;
  display: inline-block;
  border: none;
  width: 15%;
  font-size: 150%;
  border-radius: 0px;
  cursor:pointer;
  transition: all 0.5ms;
}

.sendButton:hover{
  color: #000000 !important;
  background-color: #6495ed !important;
}